<div class="container">
    <%= form_with model: @book, local: true do |form| %>
    
            <% if @book.errors.any? %>
                <div id="error_explanation">
                    <h2>
                        Corrija <%= pluralize(@book.errors.count, "erro") %> antes de prossegir com o armazenamento deste livro.
                    </h2>
                    <ul>
                        <% @book.errors.full_messages.each do |msg| %>
                            <li><%= msg %></li>
                        <% end %>
                    </ul>
                </div>
            <% end %>
        <div class="form-group">
        <p>
                <%= form.label :title, "Título" %><br>
                <%= form.text_field :title, class:"form-control" %>
        </p>
        </div>
        <p>
            <%= form.label :author, "Autor" %><br>
            <%= form.text_field :author, class:"form-control" %>
        </p>
        
        <p>
            <%= form.submit "Salvar", class:"btn btn-success" %>
        </p>
        
    <% end %>
    
    </form>
</div>