<%= render 'navbar'%>
<div class="d-flex justify-content-center">
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title"><strong>Título:</strong>
        <%= @book.title %></h5>
        <h6 class="card-subtitle mb-2 text-muted"><strong>Autor:</strong>
        <%= @book.author %></h6>
        <p class="card-text"><strong>Comentário:</strong>
        <%= @booksUser.review %></p>
        <%= link_to 'Editar', edit_book_path(@book), class:"btn btn-warning" %>
      </div>
        <%= link_to 'Voltar', books_path, class:"btn btn-success" %>
    </div>
</div>